<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393420910142-l01rbjml2kv8lfg19br0vsovkjopdvgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393420910142-l01rbjml2kv8lfg19br0vsovkjopdvgq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393420910142-19o4o10mj56sj14e2gs2g1t5g2js8me2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXA6HxURDrX5AexVtHCQfR95O4LgeyxmM</string>
	<key>GCM_SENDER_ID</key>
	<string>393420910142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.news</string>
	<key>PROJECT_ID</key>
	<string>news-3d5f9</string>
	<key>STORAGE_BUCKET</key>
	<string>news-3d5f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393420910142:ios:7ba195b579a8b0b65a2b6f</string>
</dict>
</plist>